body{
	font-family: Arial;
	margin-top: 10px;
}
.click-area{
	text-align: center;
}
.upgrade-area1{
	float: left;
	margin-right: 25px;
}
.upgrade-area2{
	float: left;
	margin-right: 25px;
}
.upgrade-area3{
	float: left;
	margin-right: 25px;
}
.upgrade-area4{

}
.upgrade-area5{

}
footer{
	position: absolute;
	bottom: 3px;
	text-align: center;
}