body{
	font-family: Arial;
	margin-top: 10px;
	background-color: #FFFFFF;
}
.click-area{
	text-align: center;
}
/* Begin upgrade areas */
.upgrade-area{
	
}
.upgrade-area1{
	float: left;
	margin-right: 25px;
}
.upgrade-area2{
	float: left;
	margin-right: 25px;
}
.upgrade-area3{
	float: left;
	margin-right: 25px;
}
.upgrade-area4{
	float: left;
	margin-right: 25px;
}
.upgrade-area5{
	float: left;
	margin-right: 25px;
}
/* End upgrade areas */
.achievement-area{
	float: left;
}
.import-export-area{
	float: right;
} 
/* float import and export buttons to the right */
.import-export-area button{
	float: right;
}
footer{
	position: absolute;
	bottom: 3px;
	text-align: center;
}