body{
	text-align: center;
	margin: 0px;
}
h1{
	font-size: 72px;
}
.buttons{
	font-size: 48px;
}
#world{
	display: block;
	position: absolute;
	visibility: hidden;
}
#canvas-label{
	position: absolute;
	visibility: hidden;
	margin-left: 40%;
}