body{
	font-family: 'Roboto Condensed', sans-serif;
	background: url("media/background.png");
}
h1{
	text-align: center;
	font-size: 72px;
}
h2{
	text-align: center;
	font-size: 48px;
}
h3{
	text-align: center;
	font-size: 36px;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
p{
	text-align: center;
	font-size: 30px;
}
.row img{
	max-width:100%;
	max-height:100%;
}
.row div{
	text-align: center;
}