body{
	font-family: sans-serif;
	text-align: center;
	background-color:#D0E4FE;
}
.container{
	margin-top: 5px;
}
.items{
	font-size: 36px;
}
#new-loadout{
	margin-top: 10px;
}
footer{
	position: absolute;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	padding: 1rem;
}