body{
	font-family: Arial;
	background-color:#D0E4FE;
	margin-top:50px;
	margin-bottom:100px;
	margin-right:50px;
	margin-left:50px;
}
a{
	text-decoration: none;
}
a:visited{
	color: blue;
}
h1{
	text-align: center;
}
h3{
	text-align: center;
}